<h3>Angular Quiz</h3>
<div class="pt-3">
    <p>Test your knowledge on Angular 2+ and see how well you know your Angular concepts!</p>
    <p>
        The following quizzes will be based off of official documents found on <a href="https://angular.io/">https://angular.io/</a>.
        Each level of difficulty (beginner, intermediate, and expert) tests the fundamental concepts related to using the 
        Angular framework with results given after completing the quiz as well as an explanation of the correct answers. 
    </p>
    <p><i>Recommendation: Read the documents related each difficulty of the quiz and then try it out!</i></p>
    <div class="pt-3">
        <p>If you're just getting started with Angular, check out the <a>Getting started with Angular</a> and take this quiz!</p>
        <button routerLink="/beginner" class="btn btn-primary">Check out Beginner Quizzes</button>
    </div>
    <div class="pt-3">
        <p>Test your knowledge on the fundamental concepts of Angular (Directives, Components, Services, and more!).</p>
        <button routerLink="/intermediate" class="btn btn-primary">Check out Intermediate Quizzes</button>
    </div>
    <div class="pt-3">
        <p>More advanced topics of Angular!</p>
        <button routerLink="/expert" class="btn btn-primary">Check out Expert Quizzes</button>
    </div>
</div>
